<component name="ArtifactManager">
  <artifact type="exploded-war" name="SpringMvcDemo:war exploded">
    <output-path>$PROJECT_DIR$/classes/artifacts/SpringMvcDemo_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="SpringMvcDemo/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SpringMvcDemo" />
        </element>
      </element>
    </root>
  </artifact>
</component>