<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
    xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
            http://www.springframework.org/schema/beans 
            http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	<bean id="a" class="com.morris.spring.cycle.A">
		<constructor-arg index="0" ref="b"/>
	</bean>
	
	<bean id="b" class="com.morris.spring.cycle.B">
		<constructor-arg index="0" ref="c"/>
	</bean>
	
	<bean id="c" class="com.morris.spring.cycle.C">
		<constructor-arg index="0" ref="a"/>
	</bean>
</beans>